@import "./vars.css";
/* icons */
@import "../icomoon/style.css";
/* styles */
@import "./vars.css";
@import "./base.css";
@import "./header.css";
@import "./logo.css";
@import "./nav.css";

/* section  style*/
@import "./sec-intro.css";
@import "./sec-services.css";
@import "./sec-about.css";
@import "./sec-lawyears.css";
@import "./sec-reviews.css";
@import "./sec-news.css";

/* footer */
@import "./footer.css";
/* fonts */
@font-face {
  font-family: "Nunito-Sans";
  src: url('../fonts/Nunito-Sans.ttf');
};

@font-face {
	font-family: "Nunito-Sans";
	src: url('../fonts/Nunito-Sans_italic.ttf');
	font-style: italic;
};



