

#intro {
--intro-bg: var(--dark);
--intro-color: var(--white);
--active-color: var(--blue);
color: var(--intro-color);
position: relative;
height: clamp(650px, 90vh, 1000px);
font-size: 10px;
padding: 0;

}

#intro::before {
	content:"";
	position: absolute;
	left: 0; top:0;
	width:100%; height:100%;
	background-color: var(--intro-bg);
	z-index:-2;

}

#intro .container {
	display: flex;
	flex-direction: column;
	gap:20px;
	align-items: flex-start;
	height:100%;
	justify-content: center;
	padding-bottom: 12%;
	
}

#intro [data-img="preview"] {
	position:absolute;
	right:0; top:0;
	height:100%;
	width: 70%;
	object-fit: cover;
	object-position: left;
	z-index: -1;
	
}

#intro h2 {
	font-size:3em;
	text-transform: uppercase;
	font-weight: 200;
}
#intro h1 {
	font-size:5.6em;
	color: var(--active-color);
	text-transform: uppercase;
	font-weight: 700;
}

#intro p {
	font-size:max(14px, 2em);
	max-width: 33em;
}

@media(max-width:1150px){
	#intro  {
		font-size:8px;
	}
	
}
@media(max-width:790px){
	#intro  {
		font-size:6px;
	}
	
	#intro .container {
		align-items: center;
		text-align: center;
	}
	
	#intro [data-img="preview"]{
		width:100%;
		filter:blur(3px) brightness(25%)
	}
}
@media(max-width:480px){
	#intro [data-img="preview"] {
		width: 130%;
	}
}
